/***
* Name: Sanne Oud 
* Student number: 11014067
* Data processing
*
* This script holds the css for a line graph
***/

/**
* The titles.
**/
.title{
	fill: black;
	stroke: none;
	font-size: 25px;
	font-family: verdana;
	text-align: center;
}
.mapTitle{
	fill: black;
	stroke: none;
	font-size: 20px;
	font-family: verdana;
	text-align: left;
}
.plotTitle{
	fill: black;
	stroke: none;
	font-size: 20px;
	font-family: verdana;
	text-align: left;
}

/**
* The scatterplot circles.
**/
circle{
	stroke: white;
	stroke-width: 1;
}

/**
* The axis.
**/
.x-axis path{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.y-axis path{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.tick line{
	stroke: black;
	shape-rendering: crispEdges;
}

.tick text{
	fill: black;
	stroke: none;
	font-size: 12px;
	font-family: verdana;
	text-align: left;
}

/**
* Standerd look of the countries on the map.
**/
.countries{
	stroke: white;
	stroke-width: 1.5;
	opacity: 0.8;
	stroke: white;
}

/**
* Style the legenda.
**/
.legenda-discription {
	fill: black;
	stroke: none;
	font-size: 15px;
	font-family: verdana;
}

.legenda-title {
	fill: black;
	stroke: none;
	font-size: 25px;
	font-family: verdana;
	text-anchor: middle;
}