.tick line{
	stroke: black;
	shape-rendering: crispEdges;
}

.tick text{
	fill: black;
	stroke: none;
	font-size: 12px;
	font-family: verdana;
	text-anchor: left;
}

.x-axis path{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.y-axis path{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.label {
	fill: black;
	stroke: none;
	font-size: 14px;
	font-family: verdana;
	text-anchor: middle;
}

.legenda-discription {
	fill: black;
	stroke: none;
	font-size: 15px;
	font-family: verdana;
}

.legenda-title {
	fill: black;
	stroke: none;
	font-size: 25px;
	font-family: verdana;
	text-anchor: middle;
}

.information {
	fill: black;
	stroke: none;
	font-size: 12px;
	font-family: verdana;
}